body {
  background-color: #777;
  margin: 25px;
  font-family: Georgia, serif;
}

.element-agnostic-mutations {
  border-radius: 10px;
  padding: 10px;
  background-color: #fffefa;
}

.wyvern-type {
  border-radius: 10px;
  padding: 10px;
  background-color: #fffefa;
}

  .wyvern-type h2 {
    text-transform: uppercase;
  }
